.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.overall,.image,.available,.applied {
  margin:20pt ;
  float: left;
}


.overall {
  width:800px;
}

button {
  padding: 5px 30px;
  margin: 5pt;
}


img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.hidden{
  display: none;
}

.rotate{
  transform: rotate(45deg);
}
.opacity{
  opacity: 0.5;
}
